<div class="row">
	<h4 class="header">Editing {{profile.title}}</h4>
	<form method="POST" action="/profiles/profile/edit/{{profile.id}}" style="margin:35px; color:rgb(250,250,255);">
		<div class="input-group">
			<span class="input-group-label">
				<i class="fa fa-header"></i>
			</span>
			<input type="text" name="title" class="input-group-field" value="{{profile.title}}" required>
		</div>

		<div class="input-group">
			<span class="input-group-label">
				<i class="fa fa-user"></i>
			</span>
			<input type="text" name="username" class="input-group-field" value="{{profile.username}}">
		</div>

		<div class="input-group">
			<span class="input-group-label">
				<i class="fa fa-unlock"></i>
			</span>
			<input type="text" name="password" class="input-group-field" value="{{profile.password}}">
		</div>

		<div class="input-group">
			<span class="input-group-label">
				<i class="fa fa-envelope"></i>
			</span>
			<input type="email" name="email" class="input-group-field" value="{{profile.email}}">
		</div>

		<div class="input-group">
			<span class="input-group-label">
				<i class="fa fa-globe"></i>
			</span>
			<input type="text" name="url" class="input-group-field" value="{{profile.url}}">
		</div>

		<div class="input-group">
			<span class="input-group-label">
				<i class="fa fa-tag"></i>
			</span>
			<textarea name="description" class="input-group-field" value="{{profile.description}}" required></textarea>
		</div>

		<div class="input-group">
			<span class="input-group-label">
				<i class="fa fa-sitemap"></i>
			</span>
			<input type="text" name="organization" class="input-group-field" value="{{profile.organization}}">
		</div>

		<div class="input-group">
			<span class="input-group-label">
				<i class="fa fa-calendar-o"></i>
			</span>
			<input type="text" name="postDate" class="input-group-field" value="{{profile.postDate}}">
		</div>

		<div class="input-group">
			<span class="input-group-label">
				<i class="fa fa-date"></i>
			</span>
			<input type="text" name="postTime" class="input-group-field" value="{{profile.postTime}}">
		</div>

		<input type="hidden" name="author" class="input-group-field" required>

		<div class="input-group-button clearfix">
			<input type="submit" class="button left-floater edit-profile" value="Submit">
			<input type="button" data-id="{{profile.id}}" class="button success right-floater cancel-edit" value="Cancel">
		</div>

	</form>
</div>
