<div class="row v-scroll list">
	<div class="card">
		<div class="card-divider">
			<h4 class="header">{{profile.title}}</h4>
			<p style="text-align:left; margin:0; padding:0;">
				{{#if profile.username}}
				Username: {{profile.username}}
				{{/if}}
				</br>
				{{#if profile.password}}
				Password: {{profile.password}}
				{{/if}}
				</br>
				{{#if profile.email}}
				Email: {{profile.email}}
				{{/if}}
				</br>
				{{#if profile.url}}
				URL: {{profile.url}}
				{{/if}}
				</br>
				Organization: {{profile.organization}}
				</br>
				Posted: {{profile.postDate}} @ {{profile.postTime}}
			</p>
		</div>

		<div class="card-section">
			{{profile.description}}
		</div>

		<div class="card-section">
			<a href="/profiles/profile/edit/{{profile.id}}" class="button edit-profile left-floater">Edit {{profile.title}}</a>
			<a href="#" data-id="{{profile.id}}" class="button alert delete-profile right-floater">Delete {{profile.title}}</a>
		</div>
	</div>
</div>
