<div class="row">
	<h4 class="header">Editing {{article.title}}</h4>
	<form method="POST" action="/articles/article/edit/{{article.id}}" style="margin:35px;">
		<div class="input-group">
			<span class="input-group-label">
				<i class="fa fa-header"></i>
			</span>
			<input type="text" name="title" class="input-group-field" value="{{article.title}}" required placeholder="Title">
		</div>

		<div class="input-group">
			<span class="input-group-label">
				<i class="fa fa-globe"></i>
			</span>
			<input type="text" name="url" class="input-group-field" value="{{article.url}}" placeholder="URL">
		</div>

		<div class="input-group">
			<span class="input-group-label">
				<i class="fa fa-edit"></i>
			</span>
			<textarea type="text" name="body" class="input-group-field" value="{{article.body}}" required>{{article.body}}</textarea>
		</div>

		<div class="input-group">
			<span class="input-group-label">
				<i class="fa fa-check"></i>
			</span>&nbsp;
			<input type="checkbox" name="show" class="input-group-field edit-show" value="Keep private"> Keep private
		</div>

		<input type="hidden" name="private" class="input-group-field edit-private" value="{{article.private}}">
		<input type="hidden" name="author" class="input-group-field" value="{{article.author}}">
		<input type="hidden" name="postDate" class="input-group-field" value="{{article.postDate}}">
		<input type="hidden" name="postTime" class="input-group-field" value="{{article.postTime}}">

		<div class="input-group-button">
			<input type="submit" class="button left-floater edit-article" value="Submit">
			<input type="button" data-id="{{article.id}}" class="button success right-floater cancel-edit" value="Cancel">
		</div>

		<script>
			$('.edit-show').prop('checked', $('.edit-private').val());

			$('.edit-show').change(function(){
				$('.edit-private').val($(this).is(':checked'));
			});
		</script>

	</form>
</div>
