{{#if hasWarning}}
	{{#each warning}}
		<div class="warning callout" data-closable style="margin:10px;">
			<p>{{.}}</p>
			<button class="close-button" aria-label="Dismiss alert" type="button" data-close>
			 <span aria-hidden="true">&times;</span>
			</button>
		</div>
	{{/each}}
{{/if}}

{{#if hasSuccess}}
	{{#each success}}
		<div class="success callout" data-closable style="margin:10px;">
			<p>{{.}}</p>
			<button class="close-button" aria-label="Dismiss alert" type="button" data-close>
			 <span aria-hidden="true">&times;</span>
			</button>
		</div>
	{{/each}}
{{/if}}

{{#if login}}

	<div class="row article-list">
		<a href="#addArticle" class="button left-floater add-article" data-toggle="addArticle">Add Article</a>
		<a href="#" class="button right-floater search-articles" data-toggle="searchArticles">Search Articles</a>
	</div>

{{else}}

	<div class="row article-list">
		<a href="#" class="button right-floater search-articles" data-toggle="searchArticles">Search Articles</a>
	</div>

{{/if}}

<div class="row v-scroll list">
	<ul class="accordion" data-accordion data-allow-all-closed="true" data-multi-expand="false">
		{{#each articles}}
			{{#if isAuthor}}
				<li class="accordion-item" data-accordion-item>
					<a href="#{{id}}" class="accordion-title">{{title}}</a>
					<div class="accordion-content" data-tab-content id="{{id}}">
						<div class="card">
							<div class="card-divider">
								<h4 class="header">{{title}}</h4>
								<p style="text-align:left; margin:0; padding:0;">
									Posted: &nbsp; {{postDate}}
								</p>
							</div>

							<div class="card-section">
								{{body}}
							</div>

							<div class="card-section">
								<a data-id="{{id}}" class="center-floater button primary view-article">View {{title}}</a>
							</div>
						</div>
					</div>
				</li>
			{{else if private}}
			{{ else }}
				<li class="accordion-item" data-accordion-item>
					<a href="#{{id}}" class="accordion-title">{{title}}</a>
					<div class="accordion-content" data-tab-content id="{{id}}">
						<div class="card">
							<div class="card-divider">
								<h4 class="header">{{title}}</h4>
								<p style="text-align:left; margin:0; padding:0;">
									Posted: &nbsp; {{postDate}}
								</p>
							</div>

							<div class="card-section">
								{{body}}
							</div>

							<div class="card-section">
								<a data-id="{{id}}" class="center-floater button primary view-article">View {{title}}</a>
							</div>
						</div>
					</div>
				</li>
			{{/if}}

		{{/each}}
	</ul>
</div>

<div class="row">
	<div class="off-canvas-wrapper" style="background-color:black; color:white;">
		<div class="off-canvas position-left search" style="background-color:rgb(4,1,1); color:rgb(250,250,255);" id="searchArticles" data-off-canvas>
			<h4 class="header" style="color:rgb(250,250,255);">Search Articles</h4>
				<form method="POST" action="/articles/search" style="margin:35px; color:rgb(250,250,255);">
				<div class="input-group">
					<span class="input-group-label">
						<i class="fa fa-search"></i>
					</span>
					<input type="text" name="search" class="input-group-field" placeholder="Search" required>
				</div>

				<div class="input-group">
					<input type="radio" name="type" class="input-group-field show" value="title" checked> Search titles  &nbsp;&nbsp;
					<input type="radio" name="type" class="input-group-field show" value="author"> Search authors
				</div>

				<div class="input-group-button">
					<input type="submit" class="button" value="Submit" style="background-color:rgb(250,250,255); color: rgb(4,1,1);">
				</div>

			</form>
		</div>
		<div class="off-canvas-content"  data-off-canvas-content></div>
	</div>
</div>

<div class="row">
	<div class="off-canvas-wrapper" style="background-color:black; color:white;">
		<div class="off-canvas position-right search" style="background-color:rgb(4,1,1); color:rgb(250,250,255);" id="addArticle" data-off-canvas>
			<h4 class="header" style="color:rgb(250,250,255);">Add Article</h4>
			<form method="POST" action="/articles/add" style="margin:35px; color:rgb(250,250,255);">
				<div class="input-group">
					<span class="input-group-label">
						<i class="fa fa-header"></i>
					</span>
					<input type="text" name="title" class="input-group-field" placeholder="Title" required>
				</div>

				<div class="input-group">
					<span class="input-group-label">
						<i class="fa fa-external-link"></i>
					</span>
					<input type="text" name="url" class="input-group-field" placeholder="URL">
				</div>

				<div class="input-group">
					<span class="input-group-label">
						<i class="fa fa-edit"></i>
					</span>
					<textarea type="text" name="body" class="input-group-field" placeholder="Body" required></textarea>
				</div>

				<div class="input-group">
					<span class="input-group-label">
						<i class="fa fa-check"></i>
					</span>&nbsp;
					<input type="checkbox" name="show" class="input-group-field show" value="Keep private"> Keep private
				</div>

				<input type="hidden" name="private" required class="input-group-field private">

				<div class="input-group-button">
					<input type="submit" class="button" value="Submit" style="background-color:rgb(250,250,255); color: rgb(4,1,1);">
				</div>

			</form>
		</div>
		<div class="off-canvas-content"  data-off-canvas-content></div>
	</div>
</div>
