

<div class="row">
  <div class="small-12 medium-12 large-12 columns" style="margin:25px;">
    <ul class="tabs" data-active-collapse="true" data-tabs id="collapsing-tabs">
      <li class="tabs-title is-active"><a href="#summary" aria-selected="true"><strong>{{greeting}}</strong></a></li>
      <li class="tabs-title"><a href="#name"><strong>Name</strong></a></li>
      <li class="tabs-title"><a href="#contact"><strong>Contact</strong></a></li>
      <li class="tabs-title"><a href="#picture"><strong>Picture</strong></a></li>
      <li class="tabs-title"><a href="/users/security"><strong>Security</strong></a></li>
    </ul>

    <div class="tabs-content" data-tabs-content="collapsing-tabs">
			<div class="tabs-panel is-active" id="summary">
        <div class="row">
					<div class="left-floater">
						<div class="card" style="width:155px;margin-left:25px;">
							<div class="card-section">
								{{#if user.picture}}
									<img src="/{{user.picture}}">
								{{else}}
									<span class="thumbnail"><i class="fa fa-user-o" style="font-size:128px;"></i></span>
								{{/if}}
							</div>

							<div class="card-divider">
								<b>{{fname}} &nbsp;{{lname}}</b>
							</div>
						</div>
					</div>

					<div class="right-floater">
						<div class="card" style="margin:25px;">
							<div class="card-section">
								<b>{{uname}}</b>
							</div>

							<div class="card-divider">
								<b>{{email}}</b>
							</div>
						</div>
					</div>
				</div>
      </div>

      <div class="tabs-panel is-active" id="name">
	      <form>
					<div class="input-group">
						<span class="input-group-label"><i class="fa fa-user"></i></span>
						<input class="input-group-field" type="text" value="{{fname}}" required>
					</div>

					<div class="input-group">
						<span class="input-group-label"><i class="fa fa-user"></i></span>
						<input class="input-group-field" type="text" value="{{lname}}" required>
					</div>

					<div class="input-group">
						<span class="input-group-label"><i class="fa fa-user"></i></span>
						<input class="input-group-field" type="text" value="{{uname}}" required>
					</div>
				</form>
      </div>

      <div class="tabs-panel" id="contact">
				<form class="read-only">
					<div class="input-group">
						<span class="input-group-label"><i class="fa fa-envelope"></i></span>
						<input class="input-group-field" type="email" value="{{email}}" required>
					</div>
				</form>
      </div>

      <div class="tabs-panel" id="picture">
				<div class="row">
					<div class="left-floater">
						<div style="margin:25px;">
			        {{#if user.picture}}
			          <img class="" src="/{{user.picture}}">
			        {{else}}
			          <span class="thumbnail"><i class="fa fa-user-o" style="font-size:128px;"></i></span>
			        {{/if}}
						</div>
					</div>

					<div class="right-floater">
						<form class="read-only" style="margin:25px;">
							<div class="input-group">
								<span class="input-group-label"><i class="fa fa-picture-o"></i></span>
								<input class="input-group-field" type="url" placeholder="Picutre URL" required>
							</div>
						</form>
					</div>
				</div>
      </div>

    </div>
  </div>
</div>
